.form_section {
    background-color: #eee;
    padding: 10px 15px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.admin_info {
    border: 12px solid #eee;
    padding: 10px;
}

.directory_buttons input {
    display: inline;
    float: right;
    margin-left: 12px;
}